*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}
body{
    font-family: 'Manrope';
    background-color: var(--Dark-Blue);
}

.advice__block{
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    text-align: center;
    max-width: 500px;
    height: 400px;
    padding: 0 5%;
    border-radius: 15px;
    box-shadow: 0px 5px 5px var(--Dark-Grayish-Blue);
    background-color: var(--Dark-Grayish-Blue);
}
.advice{
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.2rem;
    margin-top: 40px;
    margin-bottom: 30px;
    color:var(--Light-Cyan);
}
.advice__id{
    font-weight: 800;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    margin-top: 60px;
    color: var(--Neon-Green);
}
.dice{
    position: absolute;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    top: 100%;
    cursor: pointer;
    background-color: var(--Neon-Green);
}
.dice img{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.pause{
    background-image: url(./images/pattern-divider-mobile.svg);
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.pause img{
    width: 100%;
}
@media screen and (min-width:700px) {
    .pause{
        background-image: url(./images/pattern-divider-desktop.svg);
    }
}